.course-image {
    max-width: 400px;
    height: 240px;
    object-fit: cover;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #8e4ef1;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}