.sidebar{
    transition: all 0.445s;
}
@media screen and (max-width:900px) {
    .sidebar{
        width: 60px !important;
    }

    .sidebar-label{
        display: none;
    }
}


@media screen and (max-width:768px) {
    .sidebar {
        width: 60px !important;
    }

    .sidebar-label {
        display: none;
    }
}



.close-sidebar{
    width: 0 !important;
    transition: all 0.445s;
}